
   {% extends 'base.html' %}
   {% block content %}
   <div class="container mt-5 alert-success shadow" style="max-width: 600px; padding: 50px; border-radius: 10px;">
        <h2 class="text-center">Export Data from Database</h2>
        <form action="{% url 'export_data' %}" method="POST"  style="max-width: 600px; margin:auto; padding-top: 60px;" >
            {% csrf_token %}
           

            <div class="form-group">
                <label for="model_name">Model name</label>
                <select name="model_name" class="form-control" required>
                    <option value="" disabled selected>Select</option>
                    {% for model in custom_model %}
                    <option value="{{ model }}" class="form-control">{{ model }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-success" value="export data" >
            </div>
           
            
        </form>
        <br>
            {% include 'dataentry/alerts.html' %}
    </div>
    {% endblock %}

